body{
    background-image:url(./img/fondo.jpeg);
    color: black;
}


.card{
    margin: 15px;
    background-color: rgba(46, 158, 9, 0.627);
    color: white;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px; 
}

